footer {
  background: #2e2e2e;
  border-top: 5px solid #c52d2f;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
}

a {
  color: #fff;
}

a:hover {
  color: #c52d2f;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
  margin-left: 15px;
}

p {
  margin: 0 0 5px 0;
}
