<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2016 — Conception et programmation du site Web — <a title="Benjamin Rancourt" href="https://ca.linkedin.com/in/benjaminrancourt">Benjamin Rancourt</a></p>
        <p>&copy; 2016 — Logotypes et marques déposées — <a title="Loto-Québec" href="https://loteries.lotoquebec.com">Loto-Québec</a></p>
        <p>&copy; 2013 — Modèle HTML (Corlate) — <a title="ShapeBootstrap" href="https://shapebootstrap.net/item/1524962-corlate-free-responsive-business-html-template">ShapeBootstrap</a></p>
      </div>
      <div class="col-sm-6">
        <span>
          Les résultats des tirages affichés sur ce site Web ne sont fournis qu'à titre indicatif et ne substituent en aucun cas à ceux de Loto-Québec.
          En cas de différences entre ces deux sites Web, les résultats de Loto-Québec prévalent.
        </span>
      </div>
    </div>
  </div>
</footer>
