#---------------------------------
# Directories
#---------------------------------
node_modules
client/typings/index.d.ts
client/typings/modules/*
client/typings/globals/*
!client/typings/globals/bootstrap-year-calendar
server/typings/*
dist

#---------------------------------
# Local development
#---------------------------------
*.env
*.dev

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml
/nbproject/private/
/nbproject

#---------------------------------
# OS generated
#---------------------------------
Thumbs.db

