section {
  background: #f2f2f2;
}

.features {
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

h3 {
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

i {
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100%;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  box-sizing: border-box;
  color: #c52d2f;
  float: left;
  font-size: 48px;
  height: 110px;
  line-height: 110px;
  margin: 3px;
  margin-right: 25px;
  text-align:center;
  transition: 500ms;
  width: 110px;
}

i:hover {
  background: #c52d2f;
  border: 3px solid #c52d2f;
  box-shadow: inset 0 0 0 5px #c52d2f;
  color: #fff;
}

.en-cours i {
  color: #f39c12;
}

.a-faire i {
  color: #e3e3e3;
}

.a-faire i:hover {
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
}