<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/accueil">
          <img src="images/logo.png" alt="logo">
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
          <li class="dropdown" *ngIf="loteries">
            <a routerLink="/loteries" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown">
              Loteries <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let loterie of loteries">
                <a [routerLink]="['/loteries', loterie.url]" routerLinkActive="active">{{loterie.nom}}</a>
              </li>
            </ul>
          </li>
          <li>
            <a title="GitHub" href="https://github.com/ranb2002/Loto-Lux"><span class="fa fa-github"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<pied-de-page></pied-de-page>
