h3.media-heading {
  margin-top: 15px;
  margin-bottom: 10px;
}

.media>.pull-left{
  margin-right: 20px;
}

.services-wrap {
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

/* Loteries */
.numeros {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.secondaire .numeros {
  border-top: 1px dotted #FFF;
  padding-top: 3px;
}

.lotto-6-49 .numeros .num,
.lotto-max .numeros .num,
.quebec-max .numeros .num {
  background-color: #fff;
  -moz-border-radius: 24px;
  border-radius: 24px;
  color: #313946;
}

.numeros .complementaire,
.numeros .num {
  float: left;
  font-size: 1.15em;
  height: 30px;
  line-height: 1.875em;
  margin-right: 1.5%;
  text-align: center;
  width: 30px;
}

.extra .numeros .num {
  width: auto;
}

.num-sep {
  display: none;
  margin-left: 2px;
  margin-right: 2px;
}

/* Numéros complémentaires */
.libelleComplementaire {
  clear: both;
  display: block;
  float: left;
  margin-top: 1.5873015873015872%;
}

.complementaireGauche {
  float: left;
  height: 24px;
  width: 16px;
  background-color: #0279b5;
  -moz-border-radius: 24px 0 0 24px;
  border-radius: 24px 0 0 24px;
  border: 2px solid #fff;
  border-right: 0;
}

.complementaireCentre {
  background-color: #0279b5;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  color: #fff;
  float: left;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: normal;
  height: 24px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.complementaireDroite {
  float: left;
  height: 24px;
  width: 16px;
  background-color: #0279b5;
  -moz-border-radius: 0 24px 24px 0;
  border-radius: 0 24px 24px 0;
  border: 2px solid #fff;
  border-left: 0;
}

.numeros .complementaire {
  background-color: #0279b5;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 1.5%;
  margin-top: 1%;
  line-height: 24px;
}

.list-group {
  margin-bottom: 5px;
}

.list-group:after {
  clear: both;
  display: block;
  content: "";
}